*{
    box-sizing: border-box;
}
html,body{
  height: 100%;
}
body {
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background: url('../images/main-bg.png') no-repeat #5a83b7;
  background-size: cover; 
}
*:before, 
*:after{
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}
