html,body{
    height: 100%;
}
body{
    font-family: "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(171,171,171);
    -webkit-user-select:none;
    user-select:none;
}
a{
    color: initial;
    cursor: default;
}
a:hover{
    text-decoration: none;
}
hr{
    margin-top: 2px;
    margin-bottom: 4px;
    border-color: #a0a0a0;
}
label{
    font-weight: 100;
}
fieldset{
    border: 1px solid #a0a0a0;
}
legend{
    padding: 0 5px;
    width: auto;
    border: none;
    font-size: 12px;
}
.form-control:focus{
    box-shadow: none;
    border-color: #ccc;
}



#main{
    position: relative;
    height: 100%;
    min-height: 700px;
    min-width: 1200px;
    padding-top: 55px;
    overflow: hidden;    
}
#loading{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: rgba(8,161,239,255);
    background: #ababab;
    z-index: 999;
}
#loading-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#loading-icon p{
    margin-top: .5em;
}
