@font-face {
    font-family: eqfonts;
    src: url(../fonts/eqfonts.eot?-w6bias);
    src: url(../fonts/eqfonts.eot?#iefix-w6bias) format('embedded-opentype'),url(../fonts/eqfonts.woff?-w6bias) format('woff'),url(../fonts/eqfonts.ttf?-w6bias) format('truetype'),url(../fonts/eqfonts.svg?-w6bias#eqfonts) format('svg');
    font-weight: 400;
    font-style: normal
}

[class^=eqf-],[class*=" eqf-"] {
    font-family: eqfonts;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.eqf-download:before {
    content: "\e67d"
}

.eqf-buton:before {
    content: "\e66b"
}

.eqf-clound:before {
    content: "\e66c"
}

.eqf-copy11:before {
    content: "\e66d"
}

.eqf-dengpao:before {
    content: "\e66e"
}

.eqf-edite:before {
    content: "\e66f"
}

.eqf-editte2:before {
    content: "\e670"
}

.eqf-number:before {
    content: "\e671"
}

.eqf-number2:before {
    content: "\e672"
}

.eqf-number3:before {
    content: "\e673"
}

.eqf-right5:before {
    content: "\e674"
}

.eqf-right22:before {
    content: "\e675"
}

.eqf-right32:before {
    content: "\e676"
}

.eqf-seting2:before {
    content: "\e677"
}

.eqf-setting1:before {
    content: "\e678"
}

.eqf-setting3:before {
    content: "\e679"
}

.eqf-setting4:before {
    content: "\e67a"
}

.eqf-upload:before {
    content: "\e67b"
}

.eqf-yes2:before {
    content: "\e67c"
}

.eqf-print2:before {
    content: "\e66a"
}

.eqf-scene-company:before {
    content: "\e600"
}

.eqf-scene-copy:before {
    content: "\e601"
}

.eqf-scene-delete:before {
    content: "\e602"
}

.eqf-scene-edit:before {
    content: "\e603"
}

.eqf-scene-gift:before {
    content: "\e604"
}

.eqf-scene-list:before {
    content: "\e605"
}

.eqf-scene-send:before {
    content: "\e606"
}

.eqf-scene-setting:before {
    content: "\e607"
}

.eqf-scene-settingII:before {
    content: "\e608"
}

.eqf-down:before {
    content: "\e609"
}

.eqf-down2:before {
    content: "\e60a"
}

.eqf-left:before {
    content: "\e60b"
}

.eqf-left2:before {
    content: "\e60c"
}

.eqf-right:before {
    content: "\e60d"
}

.eqf-right2:before {
    content: "\e60e"
}

.eqf-up:before {
    content: "\e60f"
}

.eqf-up2:before {
    content: "\e610"
}

.eqf-part-copy:before {
    content: "\e611"
}

.eqf-part-delete:before {
    content: "\e612"
}

.eqf-part-foot:before {
    content: "\e613"
}

.eqf-part-left:before {
    content: "\e614"
}

.eqf-part-middle:before {
    content: "\e615"
}

.eqf-part-right:before {
    content: "\e616"
}

.eqf-part-thin:before {
    content: "\e617"
}

.eqf-part-top:before {
    content: "\e618"
}

.eqf-top-background:before {
    content: "\e619"
}

.eqf-top-button:before {
    content: "\e61a"
}

.eqf-top-contact:before {
    content: "\e61b"
}

.eqf-top-list:before {
    content: "\e61c"
}

.eqf-top-music:before {
    content: "\e61d"
}

.eqf-top-phone:before {
    content: "\e61e"
}

.eqf-top-pic:before {
    content: "\e61f"
}

.eqf-top-pics:before {
    content: "\e620"
}

.eqf-top-quite:before {
    content: "\e621"
}

.eqf-top-star:before {
    content: "\e622"
}

.eqf-top-save:before {
    content: "\e623"
}

.eqf-top-video:before {
    content: "\e624"
}

.eqf-top-word:before {
    content: "\e625"
}

.eqf-a:before {
    content: "\e626"
}

.eqf-b:before {
    content: "\e627"
}

.eqf-clear:before {
    content: "\e628"
}

.eqf-left3:before {
    content: "\e629"
}

.eqf-link:before {
    content: "\e62a"
}

.eqf-linkout:before {
    content: "\e62b"
}

.eqf-minddle:before {
    content: "\e62c"
}

.eqf-right3:before {
    content: "\e62d"
}

.eqf-text-word:before {
    content: "\e62e"
}

.eqf-chufa:before {
    content: "\e62f"
}

.eqf-copy:before {
    content: "\e630"
}

.eqf-cut:before {
    content: "\e631"
}

.eqf-delete:before {
    content: "\e632"
}

.eqf-down3:before {
    content: "\e633"
}

.eqf-link2:before {
    content: "\e634"
}

.eqf-move:before {
    content: "\e635"
}

.eqf-music:before {
    content: "\e636"
}

.eqf-print:before {
    content: "\e637"
}

.eqf-type:before {
    content: "\e638"
}

.eqf-up3:before {
    content: "\e639"
}

.eqf-write:before {
    content: "\e63a"
}

.eqf-back:before {
    content: "\e63b"
}

.eqf-bg:before {
    content: "\e63c"
}

.eqf-clock-o:before {
    content: "\e63d"
}

.eqf-envelope:before {
    content: "\e63e"
}

.eqf-exclamation-info:before {
    content: "\e63f"
}

.eqf-exclamation-sign:before {
    content: "\e640"
}

.eqf-exclaquestion-sign:before {
    content: "\e641"
}

.eqf-eye:before {
    content: "\e642"
}

.eqf-fobden:before {
    content: "\e643"
}

.eqf-glyphicon-ban:before {
    content: "\e644"
}

.eqf-glyphicon-caldenar:before {
    content: "\e645"
}

.eqf-glyphicon-earphone:before {
    content: "\e646"
}

.eqf-glyphicon-list:before {
    content: "\e647"
}

.eqf-glyphicon-ok:before {
    content: "\e648"
}

.eqf-glyphicon-pause:before {
    content: "\e649"
}

.eqf-glyphicon-play:before {
    content: "\e64a"
}

.eqf-glyphicon-remove:before {
    content: "\e64b"
}

.eqf-glyphicon-stop:before {
    content: "\e64c"
}

.eqf-key:before {
    content: "\e64d"
}

.eqf-refresh:before {
    content: "\e64e"
}

.eqf-date:before {
    content: "\e64f"
}

.eqf-delete2:before {
    content: "\e650"
}

.eqf-delete3:before {
    content: "\e651"
}

.eqf-minus2:before {
    content: "\e652"
}

.eqf-minus3:before {
    content: "\e653"
}

.eqf-no:before {
    content: "\e654"
}

.eqf-play:before {
    content: "\e655"
}

.eqf-plus:before {
    content: "\e656"
}

.eqf-plus2:before {
    content: "\e657"
}

.eqf-plus3:before {
    content: "\e658"
}

.eqf-right4:before {
    content: "\e659"
}

.eqf-stop:before {
    content: "\e65a"
}

.eqf-voice:before {
    content: "\e65b"
}

.eqf-wrong:before {
    content: "\e65c"
}

.eqf-yes:before {
    content: "\e65d"
}

.eqf-clound-n:before {
    content: "\e65e"
}

.eqf-clound-v:before {
    content: "\e65f"
}

.eqf-custom-n:before {
    content: "\e660"
}

.eqf-custom-v:before {
    content: "\e661"
}

.eqf-date-n:before {
    content: "\e662"
}

.eqf-date-v:before {
    content: "\e663"
}

.eqf-eye-n:before {
    content: "\e664"
}

.eqf-eye-v:before {
    content: "\e665"
}

.eqf-out-n:before {
    content: "\e666"
}

.eqf-out-v:before {
    content: "\e667"
}

.eqf-phone-n:before {
    content: "\e668"
}

.eqf-phone-v:before {
    content: "\e669"
}
